<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <joint name="camera_joint" type="fixed">
        <parent link="chassis"/>
        <child link="camera_link"/>
        <origin xyz="0.8 0 0.315" rpy="0 0 0"/> <!--TODO: need to change to our actual camera location. the 0.005 is because the camera has a thickness-->
    </joint>

    <link name="camera_link">
        <visual>
            <geometry>
                
                <box size="0.033 0.175 0.03"/> <!--TODO: change the dimension of the camera if needed to-->
                <!--
                <mesh filename="package://esda_bot/urdf_asterius_v4/zed2_ip_outer_with_lens_v8__3.stl" scale="0.001 0.001 0.001"/>
                -->
                
            </geometry>
            <material name="red"/>
        </visual>
        <!-- Need to add collision if the camera sticks out. Need to add inertia if the camera is not on a fixed point-->

        <!--
        <collision>
            <geometry>
                <cylinder radius="0.05" length="0.04"/>
            </geometry>
        </collision>
        <xacro:inertial_cylinder mass="0.1" length="0.04" radius="0.05">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_cylinder>
        -->
    </link>


    <joint name="camera_optical_joint" type="fixed">
        <parent link="camera_link"/>
        <child link="camera_link_optical"/>
        <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}"/>
    </joint>

    <link name="camera_link_optical"></link>

    <!-- Visual representation of the two lenses -->
    <joint name="lens_left_joint" type="fixed">
        <parent link="camera_link"/>
        <child link="lens_left"/>
        <origin xyz="0.01 0.06 0" rpy="0 ${pi/2} 0"/>
    </joint>
    <link name="lens_left">
        <visual>
            <geometry><cylinder radius="0.01" length="0.01"/></geometry>
            <material name="black"/>
        </visual>
    </link>

    <joint name="lens_right_joint" type="fixed">
        <parent link="camera_link"/>
        <child link="lens_right"/>
        <origin xyz="0.01 -0.06 0" rpy="0 ${pi/2} 0"/>
    </joint>
    <link name="lens_right">
        <visual>
            <geometry><cylinder radius="0.01" length="0.01"/></geometry>
            <material name="black"/>
        </visual>
    </link>

    <gazebo reference="camera_link">
        <material>Gazebo/Red</material>

        <!-- Left Lens Sensor -->
        <sensor name="camera_left" type="camera">
            <pose> 0 0.06 0 0 0 0 </pose>
            <visualize>false</visualize>
            <update_rate>10</update_rate>
            <topic>camera/left</topic>
            <camera>
                <horizontal_fov>1.089</horizontal_fov>
                <image>
                    <width>640</width>
                    <height>480</height>
                    <format>R8G8B8</format>
                </image>
                <clip><near>0.05</near><far>8.0</far></clip>
            </camera>
        </sensor>

        <!-- Right Lens Sensor -->
        <sensor name="camera_right" type="camera">
            <pose> 0 -0.06 0 0 0 0 </pose>
            <visualize>false</visualize>
            <update_rate>10</update_rate>
            <topic>camera/right</topic>
            <camera>
                <horizontal_fov>1.089</horizontal_fov>
                <image>
                    <width>640</width>
                    <height>480</height>
                    <format>R8G8B8</format>
                </image>
                <clip><near>0.05</near><far>8.0</far></clip>
            </camera>
        </sensor>

        <!-- Depth Processing Sensor (Centered) -->
        <sensor name="camera_depth" type="depth_camera">
            <update_rate>10</update_rate>
            <topic>camera/depth</topic>
            <camera>
                <horizontal_fov>1.089</horizontal_fov>
                <image>
                    <width>640</width>
                    <height>480</height>
                    <format>R_FLOAT32</format>
                </image>
                <clip><near>0.1</near><far>10.0</far></clip>
            </camera>
        </sensor>
    </gazebo>

</robot>