<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="robot">

    <xacro:arg name="use_ros2_control" default="true"/>
    <xacro:arg name="sim_mode" default="false"/>
    <xacro:arg name="use_lidar" default="true"/>

    <xacro:include filename="robot_core_ref.xacro" />

    <xacro:if value="$(arg use_ros2_control)">
        <xacro:include filename="ros2_control_2wd.xacro" />
    </xacro:if>
    <xacro:unless value="$(arg use_ros2_control)">
        <xacro:include filename="gazebo_control.xacro" />
    </xacro:unless>
    
    <xacro:if value="$(arg use_lidar)">
        <xacro:include filename="lidar.xacro" />
    </xacro:if>
    
    <xacro:include filename="camera.xacro" />
    
    
</robot>