<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!--
    Macro: add_appearance_meshes
    Params:
      parent  : link name in robot_core.xacro to attach appearance to (e.g., "chassis")
      x_off, y_off, z_off, roll, pitch, yaw : optional pose adjustment if alignment needs a nudge
  -->
  <xacro:macro name="add_appearance_meshes"
               params="parent x_off:=1 y_off:=0.28 z_off:=0 roll:=1.5708 pitch:=-0.54 yaw:=3.1415">

    <!-- A single link to carry all the body visuals -->
    <link name="appearance_body">

      <!-- ===== Visuals copied from urdf_rigid_v2 (meshes only) ===== -->

      <!-- fcid_welded_body__configuration_ali_2mm -->
      <visual>
        <origin xyz="0.486251 -0.158399 -0.282125" rpy="-2.1834 -1.5708 0"/>
        <geometry>
          <mesh filename="package://esda_simulation_2025/assets/fcid_welded_body__configuration_ali_2mm.stl"/>
        </geometry>
        <material name="blue"/>
      </visual>

      <!-- fcid_gps_fin -->
      <visual>
        <origin xyz="0.490084 -0.150796 -0.282125" rpy="-2.20058 -1.5708 0"/>
        <geometry>
          <mesh filename="package://esda_simulation_2025/assets/fcid_gps_fin.stl"/>
        </geometry>
        <material name="grey"/>
      </visual>

      <!-- fcid_lidar_fin -->
      <visual>
        <origin xyz="0.484201 -0.15757 -0.282354" rpy="-2.1834 -1.5708 0"/>
        <geometry>
          <mesh filename="package://esda_simulation_2025/assets/fcid_lidar_fin.stl"/>
        </geometry>
        <material name="grey"/>
      </visual>

      <!-- fcid_lid__configuration_ali_2mm -->
      <visual>
        <origin xyz="0.486251 -0.158399 -0.282125" rpy="-2.1834 -1.5708 0"/>
        <geometry>
          <mesh filename="package://esda_simulation_2025/assets/fcid_lid__configuration_ali_2mm.stl"/>
        </geometry>
        <material name="blue"/>
      </visual>

      <!-- fcid_body_right__configuration_ali_2mm -->
      <visual>
        <origin xyz="0.486251 -0.158399 -0.282125" rpy="-2.1834 -1.5708 0"/>
        <geometry>
          <mesh filename="package://esda_simulation_2025/assets/fcid_body_right__configuration_ali_2mm.stl"/>
        </geometry>
        <material name="blue"/>
      </visual>

      <!-- fcid_divider_mount__configuration_ali_2mm -->
      <visual>
        <origin xyz="0.486251 -0.158399 -0.282125" rpy="-2.1834 -1.5708 0"/>
        <geometry>
          <mesh filename="package://esda_simulation_2025/assets/fcid_divider_mount__configuration_ali_2mm.stl"/>
        </geometry>
        <material name="blue"/>
      </visual>

      <!-- fcid_camera_mount -->
      <visual>
        <origin xyz="0.469199 -0.153954 -0.282125" rpy="-2.1834 -1.5708 0"/>
        <geometry>
          <mesh filename="package://esda_simulation_2025/assets/fcid_camera_mount.stl"/>
        </geometry>
        <material name="grey"/>
      </visual>

      <!-- fcid_rear__configuration_ali_2mm -->
      <visual>
        <origin xyz="0.486251 -0.158399 -0.282125" rpy="-2.1834 -1.5708 0"/>
        <geometry>
          <mesh filename="package://esda_simulation_2025/assets/fcid_rear__configuration_ali_2mm.stl"/>
        </geometry>
        <material name="blue"/>
      </visual>

      <!-- fcid_divider__configuration_ali_2mm -->
      <visual>
        <origin xyz="0.486251 -0.158399 -0.282125" rpy="-2.1834 -1.5708 0"/>
        <geometry>
          <mesh filename="package://esda_simulation_2025/assets/fcid_divider__configuration_ali_2mm.stl"/>
        </geometry>
        <material name="blue"/>
      </visual>

      <!-- fcid_body_left__configuration_ali_2mm -->
      <visual>
        <origin xyz="0.486251 -0.158399 -0.282125" rpy="-2.1834 -1.5708 0"/>
        <geometry>
          <mesh filename="package://esda_simulation_2025/assets/fcid_body_left__configuration_ali_2mm.stl"/>
        </geometry>
        <material name="blue"/>
      </visual>

      <!-- velodyne_vlp16 
      <visual>
        <origin xyz="0.560407 0.0981063 -0.282354" rpy="-4.83258e-15 6.44901e-15 -0.612605"/>
        <geometry>
          <mesh filename="package://esda_simulation_2025/assets/velodyne_vlp16.stl"/>
        </geometry>
        <material name="red"/>
      </visual>
      -->

      <!-- bort_motor (upper assembly) -->
      <visual>
        <origin xyz="0 -1.11022e-16 -0.062" rpy="-1.53959 1.5708 0"/>
        <geometry>
          <mesh filename="package://esda_simulation_2025/assets/bort_motor.stl"/>
        </geometry>
        <material name="transparent_white">
          <color rgba="1 1 1 0.3"/>  <!-- α=0.3 → 30% opaque -->
        </material>
      </visual>

      <!-- drve_arm_bracket (upper) -->
      <visual>
        <origin xyz="0 -1.66533e-16 -0.08225" rpy="-1.53959 1.5708 0"/>
        <geometry>
          <mesh filename="package://esda_simulation_2025/assets/drve_arm_bracket.stl"/>
        </geometry>
        <material name="grey"/>
      </visual>

      <!-- drve_bottom_plate (upper) -->
      <visual>
        <origin xyz="0 -1.11022e-16 -0.062" rpy="-1.53959 1.5708 0"/>
        <geometry>
          <mesh filename="package://esda_simulation_2025/assets/drve_bottom_plate.stl"/>
        </geometry>
        <material name="grey"/>
      </visual>

      <!-- drve_top_plate (upper) -->
      <visual>
        <origin xyz="0 -1.11022e-16 -0.062" rpy="-1.53959 1.5708 0"/>
        <geometry>
          <mesh filename="package://esda_simulation_2025/assets/drve_top_plate.stl"/>
        </geometry>
        <material name="grey"/>
      </visual>

      <!-- drve_middle (upper) -->
      <visual>
        <origin xyz="0 -1.11022e-16 -0.062" rpy="-1.53959 1.5708 0"/>
        <geometry>
          <mesh filename="package://esda_simulation_2025/assets/drve_middle.stl"/>
        </geometry>
        <material name="grey"/>
      </visual>

      <!-- optic -->
      <visual>
        <origin xyz="0.383794 0.125324 -0.222125" rpy="-2.1834 -1.5708 0"/>
        <geometry>
          <mesh filename="package://esda_simulation_2025/assets/optic.stl"/>
        </geometry>
        <material name="red"/>
      </visual>

      <!-- optic_2 -->
      <visual>
        <origin xyz="0.383794 0.125324 -0.342125" rpy="-2.1834 -1.5708 0"/>
        <geometry>
          <mesh filename="package://esda_simulation_2025/assets/optic.stl"/>
        </geometry>
        <material name="red"/>
      </visual>

      <!-- optic_3 -->
      <visual>
        <origin xyz="0.383794 0.125324 -0.342125" rpy="-2.1834 -1.5708 0"/>
        <geometry>
          <mesh filename="package://esda_simulation_2025/assets/optic__2.stl"/>
        </geometry>
        <material name="red"/>
      </visual>

      <!-- zed2_ip_outer_with_lens_v8 -->
      <visual>
        <origin xyz="0.373352 0.122099 -0.273156" rpy="-2.1834 -1.5708 0"/>
        <geometry>
          <mesh filename="package://esda_simulation_2025/assets/zed2_ip_outer_with_lens_v8.stl"/>
        </geometry>
        <material name="red"/>
      </visual>

      <!-- optic_4 -->
      <visual>
        <origin xyz="0.383794 0.125324 -0.222125" rpy="-2.1834 -1.5708 0"/>
        <geometry>
          <mesh filename="package://esda_simulation_2025/assets/optic__3.stl"/>
        </geometry>
        <material name="red"/>
      </visual>

      <!-- optic_5 -->
      <visual>
        <origin xyz="0.383794 0.125324 -0.342125" rpy="-2.1834 -1.5708 0"/>
        <geometry>
          <mesh filename="package://esda_simulation_2025/assets/optic__3.stl"/>
        </geometry>
        <material name="red"/>
      </visual>

      <!-- optic_6 -->
      <visual>
        <origin xyz="0.383794 0.125324 -0.342125" rpy="-2.1834 -1.5708 0"/>
        <geometry>
          <mesh filename="package://esda_simulation_2025/assets/optic__4.stl"/>
        </geometry>
        <material name="red"/>
      </visual>

      <!-- optic_7 -->
      <visual>
        <origin xyz="0.383794 0.125324 -0.222125" rpy="-2.1834 -1.5708 0"/>
        <geometry>
          <mesh filename="package://esda_simulation_2025/assets/optic__2.stl"/>
        </geometry>
        <material name="red"/>
      </visual>

      <!-- zed2_ip_outer_with_lens_v8_2 -->
      <visual>
        <origin xyz="0.373352 0.122099 -0.273156" rpy="-2.1834 -1.5708 0"/>
        <geometry>
          <mesh filename="package://esda_simulation_2025/assets/zed2_ip_outer_with_lens_v8__2.stl"/>
        </geometry>
      </visual>

      <!-- zed2_ip_outer_with_lens_v8_3 -->
      <visual>
        <origin xyz="0.373352 0.122099 -0.273156" rpy="-2.1834 -1.5708 0"/>
        <geometry>
          <mesh filename="package://esda_simulation_2025/assets/zed2_ip_outer_with_lens_v8__3.stl"/>
        </geometry>
        <material name="red"/>
      </visual>

      <!-- optic_8 -->
      <visual>
        <origin xyz="0.383794 0.125324 -0.222125" rpy="-2.1834 -1.5708 0"/>
        <geometry>
          <mesh filename="package://esda_simulation_2025/assets/optic__4.stl"/>
        </geometry>
      </visual>

      <!-- lower motor/arm cluster -->
      <visual>
        <origin xyz="-1.21014e-14 4.05231e-15 -0.50225" rpy="-2.23032 -1.5708 0"/>
        <geometry>
          <mesh filename="package://esda_simulation_2025/assets/bort_motor.stl"/>
        </geometry>
        <material name="transparent_white">
          <color rgba="1 1 1 0.3"/>  <!-- α=0.3 → 30% opaque -->
        </material>
      </visual>

      <visual>
        <origin xyz="-1.18794e-14 4.16334e-15 -0.482" rpy="-2.23032 -1.5708 0"/>
        <geometry>
          <mesh filename="package://esda_simulation_2025/assets/drve_arm_bracket.stl"/>
        </geometry>
        <material name="grey"/>
      </visual>

      <visual>
        <origin xyz="-1.23235e-14 4.21885e-15 -0.50225" rpy="-2.23032 -1.5708 0"/>
        <geometry>
          <mesh filename="package://esda_simulation_2025/assets/drve_bottom_plate.stl"/>
        </geometry>
        <material name="grey"/>
      </visual>

      <visual>
        <origin xyz="-1.23235e-14 4.21885e-15 -0.50225" rpy="-2.23032 -1.5708 0"/>
        <geometry>
          <mesh filename="package://esda_simulation_2025/assets/drve_top_plate.stl"/>
        </geometry>
        <material name="grey"/>
      </visual>

      <visual>
        <origin xyz="-1.23235e-14 4.21885e-15 -0.50225" rpy="-2.23032 -1.5708 0"/>
        <geometry>
          <mesh filename="package://esda_simulation_2025/assets/drve_middle.stl"/>
        </geometry>
        <material name="grey"/>
      </visual>

      <!-- arm endcaps / rhs parts -->
      <visual>
        <origin xyz="0.118543 -0.091911 -0.483125" rpy="-0.911273 1.5708 0"/>
        <geometry>
          <mesh filename="package://esda_simulation_2025/assets/arm_endcap.stl"/>
        </geometry>
        <material name="grey"/>
      </visual>

      <visual>
        <origin xyz="0.118543 -0.091911 -0.081125" rpy="-0.911273 1.5708 0"/>
        <geometry>
          <mesh filename="package://esda_simulation_2025/assets/arm_endcap.stl"/>
        </geometry>
        <material name="grey"/>
      </visual>

      <visual>
        <origin xyz="0.118543 -0.091911 -0.483125" rpy="-0.911273 1.5708 0"/>
        <geometry>
          <mesh filename="package://esda_simulation_2025/assets/arm_rhs.stl"/>
        </geometry>
        <material name="grey"/>
      </visual>

      <visual>
        <origin xyz="0.149927 -0.00467996 -0.081125" rpy="1.53959 -1.5708 0"/>
        <geometry>
          <mesh filename="package://esda_simulation_2025/assets/arm_rhs.stl"/>
        </geometry>
        <material name="grey"/>
      </visual>
    </link>

    <!-- Attach the appearance to your existing robot -->
    <joint name="appearance_to_parent" type="fixed">
      <parent link="${parent}"/>
      <child link="appearance_body"/>
      <origin xyz="${x_off} ${y_off} ${z_off}" rpy="${roll} ${pitch} ${yaw}"/>
    </joint>

  </xacro:macro>
</robot>
